---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import WhyBrands from '../components/WhyBrands.astro';
import Videos from '../components/Videos.astro';
---

<Layout>
  <main>
    <Hero />
    <About />
    <WhyBrands />
    <Videos />
  </main>
</Layout>
