---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import WhyBrands from '../components/WhyBrands.astro';
import Videos from '../components/Videos.astro';
import Services from '../components/Services.astro';
import StylesIndustries from '../components/StylesIndustries.astro';
---

<Layout>
  <main>
    <Hero />
    <About />
    <WhyBrands />
    <Videos />
    <Services />
    <StylesIndustries />
  </main>
</Layout>
